@page
@model PortaleMusei.Pages.Museums.DeleteModel

@{
    ViewData["Title"] = "Elimina";
}

<h1>Elimina</h1>

<h3>Sei sicuro di volere eliminare questo museo?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Museum.Name</dd>

        <dt class="col-sm-2">Regione</dt>
        <dd class="col-sm-10">@Model.Museum.Region.Name</dd>

        <dt class="col-sm-2">Città</dt>
        <dd class="col-sm-10">@Model.Museum.City</dd>

        <dt class="col-sm-2">Indirizzo</dt>
        <dd class="col-sm-10">@Model.Museum.Address</dd>

        <dt class="col-sm-2">Sito web</dt>
        <dd class="col-sm-10"><a href="@Model.Museum.Website" target="_blank">@Model.Museum.Website</a></dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Museum.Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" />
        <p style="margin-top: 10px;"><a asp-page="./Index">Torna alla lisa</a></p>
    </form>
</div>
